<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">
<head>
    <title></title>

    <style>
        [ng-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <button ng-click="count()">Count Scopes</button>

    <div ng-show="true">
        <div ng-controller="HomeCtrl">
            <button ng-click="change()">Change</button>
        </div>
    </div>

    <script src="jquery.js"></script>
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <!--<script src="HomeCtrl.js"></script>-->
    <script src="HomeCtrl.min.js"></script>
</body>
</html>
